header {
    text-align: center;
    font-size: 48px;
    padding-bottom: 30px;
    padding-top: 30px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

footer {
    text-align: center;
    font-size: 36px;
    padding-top: 10rem;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: beige;
}

td {
    font-size: 36px;
    padding: 15px;
}