header {
    text-align: center;
    font-size: 48px;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background-color: beige;
}